.panel
  %h3 Activity Details
  .panel_contents
    #attributes_table_activity_2.attributes_table.activity
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
        %tbody
          %tr.row.row-name
            %th Name
            %td Shivareddy Reddy
          %tr.row.row-short_name
            %th Short Name
            %td gfdgfdgfd
          %tr.row.row-description
            %th Description
            %td gfdgfdg
          %tr.row.row-short_description
            %th Short Description
            %td fdgdfgdfgdg
          %tr.row.row-video_url
            %th Video Url
            %td
              %span.empty Empty
          %tr.row.row-operating_hours
            %th Operating Hours
            %td 1
          %tr.row.row-opening_time
            %th Opening Time
            %td January 26, 2020 09:00
          %tr.row.row-closing_time
            %th Closing Time
            %td January 26, 2020 10:00
          %tr.row.row-location_name
            %th Location Name
            %td sdsfdsf
          %tr.row.row-address
            %th Address
            %td Strasbourg
          %tr.row.row-latitude
            %th Latitude
            %td 56.0
          %tr.row.row-longitude
            %th Longitude
            %td 34.0
          %tr.row.row-extra_tips
            %th Extra Tips
            %td deeret,hhrth,htj
          %tr.row.row-is_free
            %th Is Free
            %td
              %span.status_tag.no No
          %tr.row.row-morning_ok
            %th Morning Ok
            %td
              %span.status_tag.no No
          %tr.row.row-afternoon_ok
            %th Afternoon Ok
            %td
              %span.status_tag.no No
          %tr.row.row-evening_ok
            %th Evening Ok
            %td
              %span.status_tag.yes Yes
          %tr.row.row-midnight_ok
            %th Midnight Ok
            %td
              %span.status_tag.yes Yes
          %tr.row.row-adult_price
            %th Adult Price
            %td 40
          %tr.row.row-senior_price
            %th Senior Price
            %td 30
          %tr.row.row-child_price
            %th Child Price
            %td 22
          %tr.row.row-city
            %th City
            %td Hyderabad
          %tr.row.row-phone_number
            %th Phone Number
            %td 0390224722
          %tr.row.row-category_names
            %th Category Names
            %td , Sight Seeing, Adventure, Wwalks pick
          %tr.row.row-created_at
            %th Created At
            %td January 24, 2020 01:50
          %tr.row.row-updated_at
            %th Updated At
            %td January 24, 2020 03:28
